@charset "UTF-8";
:root {
  --font-family: "Ubuntu", sans-serif;
  --second-family: "Lato", sans-serif;
  --white: #fff;
  --primary: #ff5a30;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-500: #b3b7bc;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-100: #f9f9f9;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  font-size: 0.5208333333vw;
  scroll-behavior: smooth;
}
@media (max-width: 1024px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 2.7777777778vw;
  }
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--gray-800);
  background-color: var(--white);
}

._container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-900);
  padding-bottom: 24px;
}

.header-block__text {
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-700);
}

.header-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--gray-900);
  text-align: center;
}

.bottom-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-block__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--gray-900);
  padding-right: 40px;
}

.bottom-block__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  padding: 0 40px;
  background: var(--primary);
  border-radius: 4px;
}

._butn:hover {
  background-color: var(--white);
  border: 1px solid black;
  color: black;
  transition: all 0.3s ease 0s;
}

/*Обнуление*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

/*--------------------*/
.header-3 {
  background-image: url("././img/header/background.jpg");
  background-repeat: no-repeat;
}

.header-4 {
  background-image: url("././img/header/bg-.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.header-6 {
  background-image: url("././img/header/background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.header-8 {
  background-image: url("././img/header/bckg.jpg");
  background-repeat: no-repeat;
  margin-bottom: 120px;
  position: relative;
}

.header00 {
  background: var(--gray-200);
}

.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 45px;
}
.header__burger-span {
  background-color: black;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
  will-change: transform;
}

.header__burger span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger span:nth-child(2) {
  width: 20px;
  left: 9px;
}

.hero-subitle {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__logo {
  width: 130px;
  height: 22px;
}

.nav__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
}
.nav__link:hover {
  transition: all 0.3s ease 0s;
  color: var(--primary);
}

.nav__link-active {
  color: var(--primary);
}

.nav__cards {
  display: flex;
  gap: 36px;
}

.nav__card {
  position: relative;
  padding-left: 40px;
}
.nav__card ::after {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 0;
  right: 100%;
  content: url("././img/nav/phone.svg");
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__card-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.nav__card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-900);
}

.nav__card-two {
  padding-left: 52px;
}
.nav__card-two ::after {
  content: url("././img/nav/chat.svg");
}

.hero-1 {
  padding-bottom: 46px;
}

.hero {
  padding-bottom: 180px;
}

.hero-subtitle {
  padding-bottom: 40px;
  padding-top: 80px;
}

.hero-subitle {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.hero-subtitle-2 {
  color: var(--gray-600);
}

.hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: var(--gray-900);
  padding-bottom: 24px;
}

.hero-text {
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-700);
  max-width: 600px;
}

.news-toop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-toop-l {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero___title {
  font-size: 45px;
}

.categ {
  padding: 120px 0;
}

.header-title-news {
  padding-bottom: 60px;
}

.categ-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.categ-card {
  background: var(--white);
  grid-column: 6 span;
  cursor: pointer;
}
.categ-card__img {
  border-radius: 4px 4px 0 0;
  width: 600px;
  height: 306px;
}

.news-item__img {
  border-radius: 4px 4px 0 0;
  width: 600px;
  height: 306px;
}

.news-item__title {
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-900);
}
.news-item__title:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.news-item-inner {
  padding-bottom: 16px;
  display: flex;
}

.news-item-inner__name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700);
  padding-right: 12px;
  cursor: pointer;
}
.news-item-inner__name:not(:last-child) {
  border-right: 1px solid var(--gray-700);
}
.news-item-inner__name:not(:first-child) {
  padding-left: 12px;
}
.news-item-inner__name:last-child {
  padding-left: 36px;
}
.news-item-inner__name:hover {
  color: var(--primary);
}

.news-item-inner-last {
  position: relative;
  padding-left: 24px;
}
.news-item-inner-last::after {
  content: url("././img/categ/chat.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  left: 0;
  margin-left: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
  padding-bottom: 25px;
  max-width: 552px;
}

.more__img {
  margin-top: -80px;
  position: relative;
  z-index: 32;
  padding-bottom: 80px;
}

.text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  padding: 80px 0;
  max-width: 810px;
}
.text-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-900);
}
.text-content h3:first-child {
  padding-bottom: 24px;
}
.text-content p {
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
}

.lo {
  padding-bottom: 40px;
}

.loo {
  padding-bottom: 48px;
}

.looo {
  padding-bottom: 24px;
}

.loooo {
  padding-bottom: 60px;
}

.la {
  padding-bottom: 48px;
  position: relative;
  padding-left: 86px;
}
.la::after {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  content: url("././img/text/braces.svg");
}

.text-list {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 4;
}

.text-item {
  padding-left: 32px;
  position: relative;
}
.text-item::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  content: url("././img/text/check.svg");
}

.share {
  display: flex;
  align-items: center;
}
.share p {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-900);
  padding-right: 12px;
}

.share-block {
  align-items: center;
  display: flex;
  gap: 14px;
}

.comment {
  padding-bottom: 120px;
}

.comment-title {
  padding-bottom: 60px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.comment__left {
  display: flex;
  flex-direction: column;
  gap: 8;
  width: 150px;
  padding-right: 30px;
}
.comment__left h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-900);
}
.comment__left p {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700);
}

.comment-item {
  display: flex;
  align-items: start;
}

.comment__right p {
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
  max-width: 630px;
  padding-bottom: 16px;
}
.comment__right p span {
  color: var(--primary);
}
.comment__right a {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-700);
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}
.comment__right a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  content: url("././img/text/arrow.svg");
}

.form {
  padding-bottom: 180px;
}

.form-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-form p {
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-800);
  padding-bottom: 8px;
}
.form-form input {
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  width: 390px;
  height: 52px;
  background: var(--gray-200);
  padding: 12px 0px 12px 16px;
}
.form-form input::-moz-placeholder {
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-600);
}
.form-form input::placeholder {
  font-size: 16px;
  line-height: 160%;
  color: var(--gray-600);
}
.form-form button {
  margin-top: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 4px;
  padding: 0px 40px;
  background: var(--primary);
}

.form-title {
  padding-bottom: 48px;
}

.form__top {
  display: flex;
  padding-bottom: 22px;
}

.form_bot {
  display: flex;
  flex-direction: column;
  width: 810px;
}
.form_bot input {
  width: 810px;
  padding: 24px 0px 61px 16px;
}

.form-input {
  width: 810px;
  height: 100px;
  flex-shrink: 1;
  display: flex;
}
.form__top-content:not(:last-child) {
  padding-right: 30px;
}

.details {
  background: url("././img/details/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1920/826;
}

.details-content {
  padding: 80px 0;
  display: flex;
  justify-content: end;
  align-items: end;
}

.details-content-inner {
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: var(--white);
}

.details-content-inner__inner {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
}

.details-content__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--gray-900);
  padding-bottom: 24px;
  padding-bottom: 8px;
}

.details-form {
  display: flex;
  flex-direction: column;
}

.details-form__title {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
}

.details-form__input {
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  background: var(--gray-200);
  padding: 12px 0 12px 16px;
}
.details-form__input ::-moz-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-600);
}
.details-form__input ::placeholder {
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-600);
}
.details-form__input:not(last-child) {
  margin-bottom: 20px;
}

.details-form-block-text {
  display: flex;
  align-items: start;
}
.details-form-block-text input {
  margin-top: 5px;
  background-color: var(--primary);
  color: var(--primary);
}

.details-form__text {
  max-width: 387px;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-800);
  padding-bottom: 24px;
  padding-left: 12px;
}

.details-form__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white);
  width: 174px;
  border-radius: 4px;
  background: var(--primary);
}

.details-form__btn-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  background: var(--gray-900);
  padding: 80px 0;
}

.footer-top {
  padding-bottom: 50px;
}

.footer-top-left-top {
  display: flex;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}

.footer-logo {
  grid-column: 2 span;
}

.fdooter-top-social {
  display: flex;
  gap: 20px;
  grid-column: 2 span;
}

.footer-top-social-item a img {
  width: 20px;
  height: 20px;
}

.footer-top-left-bot__text {
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
  padding-bottom: 24px;
  max-width: 493px;
}

.footer-top-left {
  grid-column: 7 span;
}

.footer-top-right {
  grid-column: 5 span;
}

.footer-top-right__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
  padding-bottom: 24px;
}

.footer-top-right-form {
  display: flex;
  padding-bottom: 16px;
}
.footer-top-right-form input {
  padding: 12px 0px 12px 16px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
}
.footer-top-right-form input ::-moz-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
}
.footer-top-right-form input ::placeholder {
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
}
.footer-top-right-form button {
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border-radius: 0px 4px 4px 0px;
  padding: 0px 32px;
  background: var(--primary);
}

.footer-top-right__text {
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.6;
  max-width: 495px;
}

.footer-center {
  padding-bottom: 60px;
}

.footer-center-item2 {
  grid-column: 2 span;
}

.footer-center-item3 {
  grid-column: 3 span;
}

.footer-center-item {
  display: flex;
  flex-direction: column;
}
.footer-center-item h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 13px;
}
.footer-center-item p {
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}
.footer-center-item p:not(:last-child) {
  padding-bottom: 4px;
}
.footer-center-item p:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.footer-center-item a {
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
  opacity: 0.6;
}
.footer-center-item a:not(:last-child) {
  padding-bottom: 4px;
}
.footer-center-item a:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.footer-center-item span {
  font-size: 16px;
  line-height: 160%;
  color: var(--white);
}

.footer-center-item1 {
  display: flex;
  flex-direction: column;
  grid-column: 5 span;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-end-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
}
.footer-end-left span {
  margin-top: 5px;
}

.footer-end-right {
  display: flex;
  align-items: end;
  gap: 16px;
}
.footer-end-right__text {
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
}
.footer-end-right__button {
  width: 40px;
  height: 40px;
  background: var(--primary);
  border-radius: 4px;
  position: relative;
}
.footer-end-right__button::before {
  position: absolute;
  content: url("././img/footer/arrow-top.svg");
  top: 30%;
  left: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1400px) {
  .history {
    display: none;
  }
}
@media (max-width: 1300px) {
  .offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .offer-content h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  .offer {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .nav__cards {
    display: none;
  }
  .card-item {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards-list {
    gap: 40px;
  }
  .cards {
    padding-top: 0;
  }
  .browse-card {
    grid-column: 6 span;
  }
  .alex-left {
    padding: 0;
  }
  .alex-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .cards-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .team-item:hover {
    cursor: initial;
  }
  .team-item:hover .social {
    transition: initial;
    display: none;
  }
  .social {
    display: flex;
    display: none;
    gap: 15px;
    border-radius: 0 0 4px 4px;
    padding: 20px 100px;
    width: 100%;
    background: var(--primary);
    opacity: 0.7;
    position: initial;
    z-index: 334;
    top: 282px;
    left: 0;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  }
  .pos-cards__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
@media (max-width: 1150px) {
  .clients-content-right {
    display: none;
  }
  .clients-content {
    display: block;
    justify-content: initial;
    align-items: initial;
  }
  .clients-contents {
    display: block;
    justify-content: initial;
    align-items: initial;
  }
  .details-content {
    justify-content: center;
    align-items: center;
  }
  .categ-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
  .categ-card {
    grid-column: 12 span;
  }
  .categ {
    padding: 80px 0;
  }
}
@media (max-width: 1050px) {
  .news-item {
    grid-column: 12 span;
  }
  .news-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .news-item__img {
    width: 705px;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 992px) {
  .values-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .services-card {
    grid-column: 12 span;
  }
  .services-card:hover {
    background-image: initial;
    transition: initial;
    cursor: pointer;
  }
  .services-card:hover .services-card__title {
    color: initial;
  }
  .services-card:hover .services-card__content svg {
    fill: #FF5A30;
  }
  .services-card:hover:hover, .services-card:hover:focus, .services-card:hover:active {
    transform: initial;
  }
  ._butn:hover {
    background-color: var(--primary);
    border: initial;
    color: white;
    transition: initial;
  }
  .browse-card:hover {
    justify-content: start;
    transition: initial;
  }
  .browse-card:hover .browse-card__img {
    width: 390px;
    height: 345px;
  }
  .browse-card:hover .browse-card__btn {
    display: none;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .footer-top-left-top {
    display: flex;
    margin-left: -50px;
  }
  .footer-top-left-bot {
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0;
  }
  .duscuss-btn {
    padding-bottom: 80px;
  }
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 6 span;
  }
  .team-item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .alex-right__content {
    padding: 30px;
    border-radius: 4px;
  }
  .alex-right__content::after {
    display: none;
  }
  .alex-right__content p {
    font-size: 14px;
  }
  .alex-left img {
    width: 100%;
  }
  .text-bot {
    padding-bottom: 15px;
  }
  .pos-left:hover {
    box-shadow: initial;
    cursor: initial;
  }
  ._butttn:hover {
    transition: initial;
    background: initial;
    border: initial;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
  .form__top {
    flex-direction: column;
    gap: 20px;
  }
  .form_bot {
    display: flex;
    flex-direction: column;
    width: initial;
    margin-left: -30px;
  }
  .form_bot input {
    width: 390px;
    padding: 12px 0px 12px 16px;
  }
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .nav {
    padding: 0;
  }
  .question-forms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .question-form__input {
    padding: 12px 309px 12px 16px;
    max-width: 404px;
  }
  .bottom-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header-content__title {
    font-size: 50px;
  }
  .footer-center-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-bottom: 0px;
  }
  .footer-center {
    padding-bottom: 20px;
  }
  .supported-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .news-item__img {
    width: 100%;
    height: 200px;
  }
  .browse-card {
    grid-column: 12 span;
  }
  .browse-cards {
    gap: 15px;
    padding-bottom: 40px;
  }
  .icons-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
  .icon-item {
    grid-column: 1 span;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .icon-item:last-child {
    display: block;
  }
  .hero {
    padding-bottom: 80px;
  }
  .hero-subtitle {
    padding-top: 30px;
  }
  .cards {
    padding: 100px 0;
    padding-top: 0;
  }
  .alex {
    padding-bottom: 100px;
  }
  .benefits-list {
    padding-top: 0;
    gap: 15px;
  }
  .supported {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .team {
    padding-bottom: 80px;
  }
  .team-bot {
    text-align: center;
  }
  .map {
    padding-bottom: 80px;
  }
  .la {
    padding-left: 0;
  }
  .la::after {
    display: none;
  }
  .comment-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .comment-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comment__left {
    padding-bottom: 15px;
    width: initial;
    text-align: center;
  }
  .more__img {
    margin-top: -40px;
  }
  .pos-cards-left {
    gap: 10px;
  }
  .pos-cards {
    padding: 0;
  }
  .benefits-header-text {
    padding-bottom: 30px;
  }
  .pos-left {
    width: 600px;
  }
  .news-toop {
    flex-direction: column;
  }
  .more__img {
    padding-bottom: 0;
  }
  .comment-title {
    padding-bottom: 30px;
  }
  .comment {
    padding-bottom: 80px;
  }
  .form {
    padding-bottom: 80px;
  }
}
@media (max-width: 630px) {
  .pos-left {
    width: 550px;
  }
}
@media (max-width: 572px) {
  .pos-left {
    width: 430px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pos-left-top {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pos-left-top p:not(:last-child)::after {
    left: -43px;
  }
  .pos-left-top p:not(:first-child)::after {
    left: -33px;
  }
  .pos-left__left {
    padding: 20px;
    padding-bottom: 10px;
  }
  .pos-left__right {
    padding: 20px;
    padding-top: 0;
  }
}
@media (max-width: 449px) {
  .pos-left {
    width: 350px;
  }
}
@media (max-width: 561px) {
  .header-block__title {
    font-size: 35px;
    padding-bottom: 12px;
  }
  .header-block__text {
    font-size: 16px;
  }
  .header-content {
    padding: 110px 0;
  }
  .header-content__title {
    font-size: 40px;
  }
  .header-content__text {
    padding-bottom: 22px;
    font-size: 16px;
  }
  .header-content__buttons {
    flex-direction: column;
  }
  .hero {
    padding: 80px 0;
  }
  .hero-header-block {
    padding-bottom: 40px;
  }
  .headear-block-values {
    padding-bottom: 40px;
  }
  .values {
    padding-bottom: 80px;
  }
  .question__title {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .question-forms {
    gap: 12px;
    padding: 0px;
  }
  .question-btn {
    margin-top: 10px;
  }
  .services-header-block {
    padding-top: 150px;
    padding-bottom: 10px;
  }
  .services-cards {
    padding-bottom: 50px;
    gap: 20px;
  }
  .services-card__content {
    padding: 50px 0;
  }
  .browse {
    padding: 80px 0;
    padding-top: 20px;
  }
  .browse-title {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .browse-bottom-block {
    padding-top: 10px;
  }
  .clients {
    display: none;
  }
  .footer-top-right-form input {
    width: 300px;
  }
  .footer-top-left-top {
    margin-left: 0;
  }
  .footer-top-left-bot {
    margin-left: 0;
  }
  .footer-end {
    flex-direction: column;
    gap: 5px;
  }
  .footer-end-right__button {
    width: 30px;
    height: 30px;
  }
  .footer-end-right__button::before {
    top: 7px;
    left: 7px;
  }
  .supported-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .supported {
    padding: 80px 0;
    padding-top: 20px;
  }
  .supported-title {
    padding-bottom: 20px;
    font-size: 35px;
  }
  .facts {
    padding: 80px 0;
    padding-top: 20px;
  }
  .header-title-facts {
    padding-bottom: 20px;
    font-size: 35px;
  }
  .news {
    padding-bottom: 40px;
  }
  .news-list {
    padding-bottom: 40px;
    gap: 15px;
  }
  .header-title-news {
    padding-bottom: 20px;
    font-size: 35px;
  }
  .details-content {
    padding: 50px 0;
  }
  .details-content-inner__inner {
    padding: 38px 30px;
  }
  .footer {
    padding: 50px 0;
  }
  .hero {
    padding: 40px 0;
  }
  .hero-subtitle {
    padding: 50px 0 20px 0;
  }
  .card-item__img {
    height: 250px;
  }
  .cards {
    padding-bottom: 80px;
  }
  .card-item__text {
    text-align: center;
  }
  .hero-title {
    font-size: 50px;
  }
  .hero-text {
    font-size: 16px;
  }
  .how-card {
    text-align: center;
  }
  .hero {
    padding: 20px 0 80px 0;
  }
  .offer-content img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header--title {
    font-size: 35px;
  }
  .offerbtnn {
    font-size: 20px;
  }
  .how {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .header--title {
    padding-bottom: 30px;
  }
  .how-cards {
    gap: 0px;
  }
  .benefits-header-text {
    padding-bottom: 0;
  }
  .benefits-list {
    padding: 55px 0;
    padding-bottom: 80px;
    gap: 25px;
  }
  .duscuss-btn {
    padding-bottom: 60px;
  }
  .relacted {
    padding-bottom: 60px;
  }
  .supported {
    padding-bottom: 60px;
  }
  .hero-title {
    font-size: 40px;
  }
  .card-item__title {
    padding-top: 10px;
  }
  .icons {
    padding-bottom: 60px;
  }
  .browse {
    padding-bottom: 60px;
  }
  .hero {
    padding-bottom: 60px;
  }
  .clients-main {
    padding: 60px 0;
  }
  .clients-contents {
    width: 100%;
  }
  .clients-content__text {
    max-width: initial;
  }
  .clients-title {
    text-align: start;
  }
  .hero-title {
    font-size: 35px;
  }
  .hero-1 {
    padding-bottom: 0px;
  }
  .modern__container {
    padding-bottom: 30px;
  }
  .browse-title {
    padding-bottom: 15px;
  }
  .hero-subtitle {
    padding-top: 20px;
  }
}
@media (max-width: 467px) {
  .footer-top-right-form input {
    width: 200px;
  }
}
@media (max-width: 440px) {
  .question-form__input {
    padding: 12px 171px 12px 16px;
    max-width: 350px;
  }
  .question-form__input-last {
    padding: 12px 171px 12px 16px;
    max-width: 350px;
  }
}
@media (max-width: 385px) {
  .question-form__input {
    padding: 12px 171px 12px 16px;
    max-width: 300px;
  }
  .question-form__input-last {
    padding: 12px 171px 12px 16px;
    max-width: 300px;
  }
  .header-content__title {
    font-size: 30px;
  }
}/*# sourceMappingURL=main.css.map */