.browse {
	padding: 120px 0;
}

.browse-title {
	max-width: 705px;
	padding-bottom: 60px;
	text-align: initial;
}

.browse-cards {
	padding-bottom: 80px;
}

.browse-card {
	grid-column: 4 span;
	box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;



	&:hover {
		justify-content: start;
		transition: all 0.3s ease 0s;

		.browse-card__img {
			width: 390px;
			height: 277px;
		}

		.browse-card__btn {
			display: block;
		}
	}
}

.browse-card__img {
	border-radius: 4px 4px 0 0;
	width: 390px;
	height: 345px;
	object-fit: cover;
}

.browse-card__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	text-align: center;
	color: var(--gray-900);
	padding-top: 16px;
	padding-bottom: 4px;
}

.browse-card__text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: var(--gray-700);
	padding-bottom: 24px;
}

.browse-card__btn {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	line-height: 314%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 4px;
	padding: 0px 32px;
	display: none;
}

.browse-bottom-block {
	padding-top: 60px;
}