.map {
	background: var(--gray-200);
	padding-bottom: 120px;
}


.map-title {
	padding-top: 80px;
	padding-bottom: 60px;
}

.map-block {


	img {
		background: var(--gray-200);
		border-radius: 50%;
	}
}