.supported {
	padding: 80px 0 170px 0;
}

.supported-title {
	padding-bottom: 24px;
}

.supported-text {
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--gray-700);
	padding-bottom: 60px;
}

.supported-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&:not(:last-child) {
		margin-bottom: 42px;
	}
}

.supported-item {}