.office {
	background: var(--gray-200);
	padding-bottom: 120px;
	padding-top: 80px;
}

.office-title {
	padding-bottom: 24px;
}

.office-text {
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: var(--gray-700);
	padding-bottom: 60px;
}

.office-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.office-item {
	display: flex;
	flex-direction: column;

	h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 150%;
		color: var(--gray-900);
		padding-bottom: 24px;
	}

	p {
		font-size: 16px;
		line-height: 160%;
		color: var(--gray-900);


		&:not(:last-child) {
			padding-bottom: 4px;
		}
	}

	span {
		font-size: 16px;
		line-height: 160%;
		// text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--primary);
	}

	a {
		font-size: 16px;
		line-height: 160%;
		color: var(--gray-900);
		text-decoration: none;

		span {
			font-size: 16px;
			line-height: 160%;
			color: var(--gray-700);
		}
	}
}